# Test artifacts (Linux)
tests/linux/files/
tests/linux/*.qcow2
tests/linux/*.iso

# Test artifacts (Windows)
tests/windows/ISOs/
tests/windows/VMs/
tests/windows/*.vhdx
tests/windows/*.vmcx

# ISO build artifacts
iso/result/
iso/*.iso

# Config files
configs
configs/*
configs/*/*